<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
    <h1>Добро пожаловать на наш сайт!</h1>
    <div class="button-container">
        <a href="/registration" class="button">Регистрация</a>
        <a href="/books" class="button">Просмотр списка книг</a>
        <a href="/authors" class="button">Просмотр авторов</a>
    </div>
</div>
</body>
</html>